.addPostContainer {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 102;
}

.addPostContainer > * {
  margin-bottom: 0.5em;
}

.addPostClose {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 24px;
  font-weight: bold;
  color: var(--btn-primary-active);
  cursor: pointer;
}
