.post-card {
    width: 300px;
    border:1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px rgba (0,0,0,0.1)
}

.post-header {
    display: flex;
    align-items: center;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px; 
    border-radius: 50%; 
    margin-right: 8px;
}

.username {
    font-weight: bold;
}

.post-image img {
    width: 100%;
    display: block;
}

.post-footer {
    padding:8px;
    font-size: 14px; 
    color: #555;
}