:root {
  --bg-primary: white;
  --bg-secondary: #FAF4E6;
  --bg-card: rgba(255, 253, 245, 0.75);
  --btn-primary: #B78F57;
  --btn-primary-hover: #A97F49;
  --btn-primary-active: #916A3C;
  --input-primary: #E8DFCA;
  --input-primary-hover: #B78F57;
  --input-primary-active: #D9A76C;
  --text-primary: #2B2B2B;
  --text-secondary: black;
  --text-muted: #6F6F6F;
  --dropdown-bg: #DCCCA3;
  --btn-danger: #f87171;
  --btn-danger-hover: #ef4444;
  --btn-danger-active: #dc2626;
  --glass-border: 1px solid rgba(255, 253, 245, 0.1);
  --font-family-header: "Delius Swash Caps", cursive;
  --font-family-body: "Lexend", sans-serif;
  --font-family-cta: "Istok Web", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius-card: 10px;
  --radius-button: 5px;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  place-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary) !important;
  font-family: var(--font-family-body);
  width: 100vw;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-family-header) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}