:root {
  --bg-primary: white;
  --bg-secondary: #FAF4E6;
  --bg-card: rgba(255, 253, 245, 0.7);
  --btn-primary: #DCCCA3;
  --btn-primary-hover: #C7B67A;
  --btn-primary-active: #A99856;
  --text-primary: #2B2B2B;
  --text-secondary: black;
  --text-muted: #6F6F6F;
  --dropdown-bg: #DCCCA3;
  --btn-danger: #f87171;
  --btn-danger-hover: #ef4444;
  --btn-danger-active: #dc2626;
  --glass-border: 1px solid rgba(255, 253, 245, 0.1);
  --font-family-primary: sans-serif;
  --font-family-secondary: sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius-card: 10px;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  place-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-family-secondary);
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}